TokenExplorer/resources/database/tokenizers/*
TokenExplorer/resources/database/datasets/*

setup/environment/*
setup/miniconda/*
setup/variables/.env

__pycache__
*.csv
*.txt
*.jpg
*.jpeg
*.db
*.log
*.egg-info
!.gitkeep


