TKBEN_desktop/resources/database/tokenizers/*
TKBEN_desktop/resources/database/datasets/*
TKBEN_desktop/resources/database/evaluation/*

TKBEN_desktop/setup/python/*
TKBEN_desktop/setup/uv/*
TKBEN_desktop/setup/.env

__pycache__
*.vscode
*.json
*.csv
*.db
*.log
*.lock
*.venv
*.egg-info
!.gitkeep

AGENTS.md


