# Deep Learning & HuggingFace
transformers==4.50.3
sentencepiece==0.2.0
datasets==3.2.0
sacremoses==0.1.1

# GUI, Plotting & Data
PySide6==6.9.1
qt-material==2.17
matplotlib==3.10.1
seaborn==0.13.2
numpy==2.3.2
pandas==2.2.3
tqdm==4.67.1

# Database & ORM
SQLAlchemy==2.0.41

# Environment
python-dotenv==1.1.0
